<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="{% url 'main_page:main_view' %}" class="btn btn-primary my-2"><h4>Вернуться на главную</h4></a>
    <a href="{% url 'mailings:forms_new_mail' %}" class="btn btn-primary my-2"><h4>Добавить новую рассылку</h4></a>
    <a class="btn btn-primary" href="{% url 'mailings:mail' %}" role="button">Отправить рассылку на почту</a>
    <a href="{% url 'mailings:statics' %}" class="btn btn-primary my-2"><h4>Статистика</h4></a>
</p>

<h1>Список рассылок</h1>
{% for object in mailings_context %}
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <p class="card-text">Дата и время первой отправки: {{ object.dt_of_first_shipment }}</p>
                <p class="card-text">Дата и время окончания отправки: {{ object.end_dt_of_sending }}</p>
                <p class="card-text">Статус: {{ object.status }}</p>
                <p class="card-text">Сообщение: {{ object.message }}</p>
                <p class="card-text">Получатели: {{ object.recipients }}</p>
                  <a class="btn btn-primary" href="{% url 'mailings:forms_detail' object.pk %}" role="button">посмотреть</a>
                  {% if object.status == 'Завершена' %}
                  <form method="post" action="{% url 'mailings:dis_mailings' user.pk %}" role="button">отключить</form>
                  {% elif object.status == 'Создана' or object.status == 'Запущена' %}
                  <form method="post" action="{% url 'mailings:dis_mailings' user.pk %}" role="button">включить</form>
                  {% endif %}
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
</body>
</html>