<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
<form method="post" action="{% url 'users:logout' %}" style="float: right;">
    {% csrf_token %}
    <button type="submit" >Выйти</button>
</form>
<h1>Добро пожаловать, {{ user }}, мы рады вас видеть!</h1>
<h1>Главная страница</h1>
{% if perms.client.can_view_client_list %}
<a href="{% url 'client:client_list' %}" class="btn btn-sm btn-outline-secondary">Клиенты</a>
{% endif %}
<a href="{% url 'message:messages_list' %}" class="btn btn-sm btn-outline-secondary">Сообщения</a>
{% if perms.mailings.can_view_mailings_list %}
<a href="{% url 'mailings:mailings_list' %}" class="btn btn-sm btn-outline-secondary">Рассылки</a>
{% endif %}
{% if perms.users.can_view_for_list_user %}
<a href="{% url 'users:users_list' %}" class="btn btn-sm btn-outline-secondary">Список пользователей</a>
{% endif %}
<h1>Рассылки:</h1>
<p>Всех рассылок: {{ item_count  }}</p>
<p>Активных рассылок: {{ active_count }}</p>
<p>Уникальных получателей: {{ unique_clients }}</p>
{% endif %}
{% if not user.is_authenticated %}
<a href="{% url 'users:register' %}" style="float: right;" >Регистрация</a>
<a href="{% url 'users:login' %}" style="float: right; margin-right: 10px;" >Вход</a>
<h1>Добро пожаловать к нам на сайт!</h1>
<h1>Главная страница</h1>
<a href="{% url 'client:client_list' %}" class="btn btn-sm btn-outline-secondary">Клиенты</a>
<a href="{% url 'message:messages_list' %}" class="btn btn-sm btn-outline-secondary">Сообщения</a>
<a href="{% url 'mailings:mailings_list' %}" class="btn btn-sm btn-outline-secondary">Рассылки</a>
<h1>Рассылки:</h1>
<p>Всех рассылок: {{ item_count  }}</p>
<p>Активных рассылок: {{ active_count }}</p>
<p>Уникальных получателей: {{ unique_clients }}</p>
{% endif %}
</body>
</html>