{% load i18n %}{% autoescape off %}
Здравствуйте, {{ user }}!
{% blocktranslate %}Вы получили это электронное письмо, поскольку запросили сброс пароля для своей учетной записи на сайте {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите на следующую страницу и измените старый пароль на новый" %}
{% block reset_link %}
http://localhost:8000{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Если это были не вы, просто проигнорируйте письмо.

{% translate "С уважением, администрация сайта. Спасибо, что вы с нами!" %}{% blocktranslate %}
Сайт: {{ site_name }}
{% endblocktranslate %}

{% endautoescape %}